<div class="container">
  <div class="py-5 text-center">
    <h2><%= t('.hooray') %></h2>
    <p class="lead">
      <%= t('.backer_number', backer_number: Order.backers) %><br>
      <%= t('.please_share') %>
    </p>
    <div class="hstack gap-3 pb-5 justify-content-center">
      <div><%= share_link_pinterest %></div>
      <div class="vr"></div>
      <div><%= share_link_twitter %></div>
      <div class="vr"></div>
      <div><%= share_link_facebook %></div>
    </div>
    <small class="d-block text-muted">
      <%= t('.reservation_id', reservation_id: @order.uuid) %>
    </small>
  </div>
</div>
