<% if PaymentOption.exists? %>
  <h4 class="mb-3"><%= t('.incentives') %></h4>
  <div class="list-group mx-0 w-auto">
    <% PaymentOption.all.each_with_index do |p, index| %>
      <label class="list-group-item d-flex gap-2 p-3">
        <%= radio_button_tag "payment_option", p.id, false, class: 'form-check-input flex-shrink-0', disabled: sold_out(p) %>
        <span>
          <div><%= p.amount_display %></div>
          <div><%= raw p.description %></div>
          <small class="d-block text-muted"><%= p.shipping_desc %></small>
          <% if sold_out p %>
            <small class="d-block text-danger"><%= t('.sold_out') %></small>
          <% elsif p.limit > -1 %>
            <small class="d-block text-primary">
              <%= t('.limited', available: p.limit - order_count(p), total: p.limit) %>
            </small>
          <% end %>
          <small class="d-block text-muted"><%= p.delivery_desc %></small>
        </span>
      </label>
    <% end %>
  </div>
<% end %>
