<% if Settings.num_faqs > 0 %>
  <div class="bg-light border-top border-bottom">
    <div class="container py-5">
      <h1 class="fw-bold lh-1 mb-5 text-center"><%= t('.title') %></h1>
      <div class="row g-2">
        <% (1..Settings.num_faqs).each do |faq_num| %>
          <div class="col-md-6">
            <button
              class="btn btn-link mb-3 text-start"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse<%= faq_num %>"
              aria-expanded="false"
              aria-controls="collapse<%= faq_num %>"
            >
              <%= t(".#{faq_num}.question") %>
            </button>
            <div class="collapse" id="collapse<%= faq_num %>">
              <div class="card card-body">
                <p><%= t(".#{faq_num}.answer") %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
